<!DOCTYPE html>
<html>
  <head>
    <title>fcultimate</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'fcultimate-client' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
